@charset "utf-8";
/* CSS Document - Frani-10 1.0 - September 2020

/* 1-General */
/* 1.1-Window */
*{
	height:auto;
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	outline-width:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:none;
}
html,body{
	overflow-x:hidden !important;
	overflow-y:auto;
}
/* 2-Grid */
/* 2.1-Containers */
.frani{
	margin-right:auto;
	margin-left:auto;
}
@media(min-width: 1800px){
	.frani{
		width:1800px;
	}
}
.line-10{
	clear:both;
	overflow-y:auto;
}

/* 2.2-Cells */
/* 2.2.1-Cells Global Propierties */
.line-10 [class*="lg"], .line-10 [class*="md"], .line-10 [class*="sm"]{
	position:relative;
	min-height:1px;
	float:left;
	display: none !important;
}
/* 2.2.2-Large Cells */
@media(min-width: 1200px){
	.line-10 [class*="lg"]{
		display: block !important;
	}
	.line-10 [class*="1lg"]{
		width: 10%;
	}
	.line-10 [class*="2lg"]{
		width: 20%;
	}
	.line-10 [class*="3lg"]{
		width: 30%;
	}
	.line-10 [class*="4lg"]{
		width: 40%;
	}
	.line-10 [class*="5lg"]{
		width: 50%;
	}
	.line-10 [class*="6lg"]{
		width: 60%;
	}
	.line-10 [class*="7lg"]{
		width: 70%;
	}
	.line-10 [class*="8lg"]{
		width: 80%;
	}
	.line-10 [class*="9lg"]{
		width: 90%;
	}
	.line-10 [class*="10lg"]{
		width: 100%;
	}
/* 2.2.3-Large Cells Spaces */
	.line-10 [class*="lg-1"]{
		margin-left: 10%;
	}
	.line-10 [class*="lg-2"]{
		margin-left: 20%;
	}
	.line-10 [class*="lg-3"]{
		margin-left: 30%;
	}
	.line-10 [class*="lg-4"]{
		margin-left: 40%;
	}
	.line-10 [class*="lg-5"]{
		margin-left: 50%;
	}
	.line-10 [class*="lg-6"]{
		margin-left: 60%;
	}
	.line-10 [class*="lg-7"]{
		margin-left: 70%;
	}
	.line-10 [class*="lg-8"]{
		margin-left: 80%;
	}
	.line-10 [class*="lg-9"]{
		margin-left: 90%;
	}
}
/* 2.2.4-Medium Cells */
@media(min-width: 768px) and (max-width: 1199px){
	.line-10 [class*="md"]{
		display: block !important;
	}
	.line-10 [class*="1md"]{
		width: 10%;
	}
	.line-10 [class*="2md"]{
		width: 20%;
	}
	.line-10 [class*="3md"]{
		width: 30%;
	}
	.line-10 [class*="4md"]{
		width: 40%;
	}
	.line-10 [class*="5md"]{
		width: 50%;
	}
	.line-10 [class*="6md"]{
		width: 60%;
	}
	.line-10 [class*="7md"]{
		width: 70%;
	}
	.line-10 [class*="8md"]{
		width: 80%;
	}
	.line-10 [class*="9md"]{
		width: 90%;
	}
	.line-10 [class*="10md"]{
    width: 100%;
	}
/* 2.2.5-Medium Cells Spaces */
	.line-10 [class*="md-1"]{
		margin-left: 10%;
	}
	.line-10 [class*="md-2"]{
		margin-left: 20%;
	}
	.line-10 [class*="md-3"]{
		margin-left: 30%;
	}
	.line-10 [class*="md-4"]{
		margin-left: 40%;
	}
	.line-10 [class*="md-5"]{
		margin-left: 50%;
	}
	.line-10 [class*="md-6"]{
		margin-left: 60%;
	}
	.line-10 [class*="md-7"]{
		margin-left: 70%;
	}
	.line-10 [class*="md-8"]{
		margin-left: 80%;
	}
	.line-10 [class*="md-9"]{
		margin-left: 90%;
	}
}
/* 2.2.6-Small Cells */
@media(max-width: 767px){
	.line-10 [class*="sm"]{
		display: block !important;
	}
	.line-10 [class*="1sm"]{
		width: 10%;
	}
	.line-10 [class*="2sm"]{
		width: 20%;
	}
	.line-10 [class*="3sm"]{
		width: 30%;
	}
	.line-10 [class*="4sm"]{
		width: 40%;
	}
	.line-10 [class*="5sm"]{
		width: 50%;
	}
	.line-10 [class*="6sm"]{
		width: 60%;
	}
	.line-10 [class*="7sm"]{
		width: 70%;
	}
	.line-10 [class*="8sm"]{
		width: 80%;
	}
	.line-10 [class*="9sm"]{
		width: 90%;
	}
	.line-10 [class*="10sm"]{
		width: 100%;
	}
/* 2.2.7-Small Cells Spaces */
	.line-10 [class*="sm-1"]{
		margin-left: 10%;
	}
	.line-10 [class*="sm-2"]{
		margin-left: 20%;
	}
	.line-10 [class*="sm-3"]{
		margin-left: 30%;
	}
	.line-10 [class*="sm-4"]{
		margin-left: 40%;
	}
	.line-10 [class*="sm-5"]{
		margin-left: 50%;
	}
	.line-10 [class*="sm-6"]{
		margin-left: 60%;
	}
	.line-10 [class*="sm-7"]{
		margin-left: 70%;
	}
	.line-10 [class*="sm-8"]{
		margin-left: 80%;
	}
	.line-10 [class*="sm-9"]{
		margin-left: 90%;
	}
}